body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #151515; /* Set default background color to black */
    color: #FCFCFC; /* Set default text color to white */
}

.dark-mode {
    background-color: #151515;
    color: #FCFCFC;
}

.light-mode {
    background-color: #FCFCFC;
    color: #151515;
}

.image-container {
    max-width: 85vw;
    max-height: 75vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: opacity 0.5s, transform 0.5s;
}

.page-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-item {
    margin: 5px; /* Adjust the spacing as needed */
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
}

.menu-item i {
    font-size: 24px;
    margin-left: 5px; /* Adjust the spacing as needed */
    vertical-align: middle;
}

.branding {
    position: absolute;
    top: 10px;
    left: 15px;
    font-family: 'Rubik', sans-serif;
}

.brand-text {
    font-size: 24px;
    font-weight: 300;
}

.error-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.error-box {
    padding: 10px;
    border-radius: 8px 0 0 8px;
    margin-bottom: 5px;
}

.error-hint {
    background-color: #3BFFB4;
    color: #151515;
}

.error-error {
    background-color: #FF5353;
    color: #151515;
}

.dark-mode .error-box {
    background-color: #131313;
}

.dark-mode .error-hint {
    background-color: #3BFFB4;
    color: #FCFCFC;
}

.dark-mode .error-error {
    background-color: #FF5353;
    color: #FCFCFC;
}
